// Base
@import 'base/variables';
@import 'base/base';

// Components

@import 'components/buttons';

// Layouts
@import 'layouts/header';
@import 'components/calendar';

// Pages
@import 'pages/login';
@import 'pages/user-register.scss';
@import 'pages/dashboard';
@import 'pages/addnew';
@import 'pages/supplement-list';
@import 'pages/landing';

// Global
.container {
  max-width: 1200px;
  margin: 0 auto;
  // height: calc(100vh - 192px);
  height: 100%;
  padding: 150px 2% 2% 2%;
}

.accent {
  font-family: $font-family-accent;
  span {
    color: $pink-color;
    margin-left: $spacing-sm;
  }
}

form {
  margin-top: $spacing-xxl;

  input:not(input[type='submit']),
  textarea,
  select {
    display: block;
    margin-bottom: $spacing-md;
    padding: $spacing-sm;
    resize: none;
    -webkit-appearance: none;
    /*webkit browsers */
    -moz-appearance: none;
    /*Firefox */
    appearance: none;
    /* modern browsers */
    border-radius: 0;
    outline: 0;
    border-width: 0 0 2px;
    border-color: $black-color;
    width: 280px;
    font-weight: 700;

    &:focus {
      border-color: $orange-color;
    }
  }

  select {
    border-width: 1px;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-size: 0.6em;
    background-position: calc(100% - 0.4em) center;
    background-repeat: no-repeat;
  }

  input[type='checkbox'] {
    appearance: auto !important;
    accent-color: $orange-color !important;
    width: 30px !important;
    display: inline-block !important;
  }

  label {
    font-size: $font-size-small;
    color: $navy-color;
  }
}
