.supplementlist-container {
  .accent {
    font-size: $font-size-xxl;
    margin-bottom: $spacing-md;
    font-weight: 800;
    span {
      font-size: $font-size-xxl;
    }
  }

  h2 {
    font-size: $font-size-h2;
  }

  .container-top {
    padding-bottom: $spacing-xxl;
  }

  article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: $spacing-xxl;
    align-items: stretch;
  }
}

.info {
  padding: $spacing-sm $spacing-md;
  background-color: $light-gray-color;
  border-radius: 8px;
  display: inline-block;
  span {
    font-weight: 700;
  }
}

.supplementListCard {
  position: relative;
  width: 80%;
  margin: 0 auto $spacing-xxl;
  font-size: $font-size-large;
}

.card {
  position: relative;
  z-index: 2;
  background-color: $white-color;
  display: flex;
  border: 2px solid $orange-color;
  border-radius: 15px;
  padding: $spacing-md;
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: $transition;

  &:hover {
    // box-shadow: 0px 1px 10px -1px $shadow-color;
    background-color: $light-gray-color;
  }

  &.deactivated {
    background-color: $light-gray-color;
    border-color: $black-color;

    .number,
    .details__supplement-name {
      color: $black-color;
    }
  }

  .number {
    position: absolute;
    left: -50px;
    top: -30px;
    font-size: $font-size-h1;
    font-weight: 700;
    font-style: italic;
    color: $orange-color;
  }

  .details {
    width: 100%;
  }

  .details__supplement-name {
    display: flex;
    align-items: center;
    color: $orange-color;
    font-weight: 700;
    font-size: $font-size-xxl;
    line-height: 1.2;
    margin-bottom: $spacing-sm;

    img {
      width: 80px;
      border-radius: 50%;
      margin-right: $spacing-lg;
    }
  }

  .details__contents {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .details__contents--left {
      margin-right: $spacing-sm;
      flex: 1;

      & > div {
        margin-bottom: $spacing-sm;
      }
    }
    .details__contents--right {
      flex: 1;

      & > div {
        margin-bottom: $spacing-sm;
      }
    }
  }

  .details__notes {
    margin-top: $spacing-sm;
  }

  span.title {
    color: $navy-color;
    font-weight: 600;
  }
}
.skip-btn {
  text-decoration: underline;
  font-size: $font-size-base;
  cursor: pointer;
}

.delete-btn,
.edit-btn {
  color: $dark-gray-color;
  position: absolute;
  transition: $transition;
}

.edit-btn {
  top: 8px;
  right: 24px;
  color: $navy-color;
  cursor: pointer;
  &:hover {
    color: $dark-gray-color;
  }
}

.delete-btn {
  top: -12px;
  right: -12px;
  padding: 4px;
  background-color: $black-color;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    scale: 1.1;
  }
}

.activation-btn-container {
  text-align: right;
  margin-top: $spacing-sm;
}
