// User Register Page
.userRegister-container {
  display: flex;
  align-items: center;
  min-height: 700px;
  height: 100vh;
  padding: 0;

  h1 {
    font-size: $font-size-h1;
    margin-bottom: $spacing-sm;
  }

  .accent {
    font-size: $font-size-large;
    span {
      font-size: $font-size-xxl;
    }
  }

  a {
    color: $orange-color;
  }

  .userRegister-container-left {
    flex: 1;

    img {
      padding: $spacing-lg;
    }
  }

  .userRegister-container-right {
    flex: 1;
    padding: $spacing-sm;
  }

  form {
    margin-top: 1rem;
  }
}
